body {
    margin: 0;
    padding: 0;
}

/* Home Page */
.h-p img {
    width: 100%;
    height: 650px;
}


#icons {
    position: absolute;
    color: wheat;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

.link-buttom {
    position: absolute;
}

.link-buttom ul {
    display: flex;
}

.link-buttom a {
    text-decoration: none;
    font-family: "Agbalumo", system-ui;
    font-size: 20px;
    color: wheat;
    margin-left: 25px;

}

.container {
    text-align: end;
    padding-right: 10px;
    position: absolute;
    top: 1%;
    left: 88%;
}

.container img {
    width: 80px;
    height: 70px;
    padding-right: 25px;
    padding-top: 15px;
}

.container h3 {
    font-family: "Agbalumo", system-ui;
    color: wheat;
}

.container-1 {
    position: absolute;
    top: 35%;
    left: 30%;
    color: wheat;
}

.container-1 h1 {
    font-size: 60px;
}

.container-1 h2 {
    font-size: 40px;
    padding-left: 100px;
}

.buttom {
    text-decoration: none;
    font-size: 20px;
    background-color: brown;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 240px;
}


/* --First Section styles--*/

.flex-container {
    text-align: center;
    font-size: 40px;
    font-family: "Agbalumo", system-ui;
    padding-bottom: 40px;
}

.flex-box {
    display: grid;
    grid-template-columns: 350px 300px 300px 350px;
    gap: 30px;
    padding-bottom: 30px;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.box-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    color: rgb(73, 73, 73);
}

.box-1 img {
    height: 220px;
    width: 260px;
    border-radius: 15px;
}


.box-1 p {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.box-buttom {
    text-decoration: none;
    border-radius: 25px;
    background-color: rgb(0, 130, 134);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    border: 1px solid white;
    color: rgb(73, 73, 73);
}

.box-2 img {
    width: 250px;
    height: 220px;
    border-radius: 15px;
}

.box-2 p {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.box-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    border: 1px solid white;
    color: rgb(73, 73, 73);
}

.box-3 img {
    width: 260px;
    height: 220px;
    border-radius: 15px;
}

.box-3 p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.box-4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    border: 1px solid white;
    color: rgb(73, 73, 73);
}

.box-4 img {
    width: 270px;
    height: 220px;
    border-radius: 15px;
}

.box-4 p {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* --Second Section-- */


.A-U {
    display: grid;
    grid-template-columns: 750px 600px;
    gap: 100px;
    margin-top: 100px;
    background-color: rgb(146, 45, 45);
    height: 400px;
    border: 1px solid rgb(146, 45, 45);
    padding-bottom: 40px;
}

.first-part h1 {
    font-family: "Agbalumo", system-ui;
    font-size: 40px;
    margin-left: 280px;
    padding-top: 20px;
}

.first-part p {
    font-size: 20px;
    text-align: center;
    color: black;
    margin-left: 100px;
}

.second-part img {
    width: 500px;
    height: 300px;
    border-radius: 35px;
    margin-top: 100px;
}


/*--Third Section--  */

.bg-img {
    width: 300px;
    height: 100px;
}

.bg-img img {
    width: 1300px;
    height: 550px;
    border-radius: 150px;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 100px;
}

.flex-content {
    text-align: center;
    padding-top: 100px;
}

.flex-content h1 {
    font-size: 55px;
    font-family: "Agbalumo", system-ui;
    color: rgb(2, 100, 104);
}

.flex-content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: black;
}

.flex-content h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}


/* --Fourth section-- */


.c-u {
    font-family: "Agbalumo", system-ui;
    text-align: center;
    font-size: 40px;
    padding-top: 250px;
}

.h {
    width: 450px;
    margin-bottom: 80px;
    background-color: gray;
}

.contact-deteil {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 60px;
    padding-bottom: 100px;
    padding-left: 75px;
}


.contact-info {
    width: 300px;
    height: 200px;
    text-align: center;
    margin-left: 160px;
    margin-bottom: 30px;
}


.fa-solid {
    font-size: 34px;
    color: rgb(0, 130, 134);
}

.contact-info h1 {
    font-family: "Agbalumo", system-ui;
    font-size: 25px;
}

.contact-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
}


/*--Footer section--*/

footer {
    text-align: center;
    background-color: rgb(0, 28, 29);
    color: white;
    height: 350px;

}

.f-s {
    color: wheat;
    font-family: "Agbalumo", system-ui;
    font-size: 20px;
}

.f-s img {
    height: 50px;
    margin-top: 20px;
}


.links {
    text-align: center;
}

.line {
    width: 800px;
}

.links a {
    text-decoration: none;
    color: wheat;
    font-family: "Agbalumo", system-ui;
    font-size: 20px;
    margin-left: 20px;
}

footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 90px;
    padding-left: 900px;
}